/* Estilos para la etiqueta <body> */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

/* Estilos para la etiqueta <header> */
header {
    display: flex;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    font-family: 'Junge', serif;

}

/* Estilos para la etiqueta <img> */


.bosque {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    margin-right: 0;
    margin-left: 0;

}

/* Estilos para la etiqueta <nav> */
nav {
    display: flex;
    margin-top: 50px;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 340px;
    margin-right: 0px;
    font-family: 'Kaisei Opti', serif;


}

nav li {
    display: inline-block;

}

nav a {
    color: #000000;
    display: block;
    padding: 15px;
    text-decoration: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-left: 0px;

}


nav a:hover {
    background-color: rgba(47, 128, 64, 0.51);
    color: #333;


}

/* Estilos para la etiqueta <main> */
main {
    display: flex;
    justify-content: center;
}

/* Estilos para la etiqueta <section> */
section {
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
    margin: 0;
}

/* Estilos para la etiqueta <article> */
article {
    border: 1px solid #333;
    padding: 10px;
}

div {
    float: left;
    width: 50%;
    padding: 0 15px
}

.opciones {

    color: #000000;
    padding: 10px;


}


button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 20%;
}

button:hover {
    background-color: #333;
    color: #fff;
}

.leyenda {
    text-align: center;
    font-family: 'Felipa', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin: 40px;
    padding: 40px;
    align-items: center;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-right: 0; /* cambia el margen derecho a 0 */
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-left: 20px;
}


.logo-btn img {
    display: block;
    width: 105px;
    height: auto;
}

.subTitulo {
    font-family: 'Kaisei Opti', serif;
    margin-top: 40px;
    font-size: 16px;
}
.titulo {
    color: #000000;
}



.imagen-ajustada {
    max-width: 80%;
    max-height: 80%;


}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 50px;

}

.text{
    font-family: 'Kaisei Opti', serif;

}
.texto1{
    font-family: 'Kaisei Opti', serif;
}
.texto2{
    font-family: 'Kaisei Opti', serif;
}
.footer-content{
    margin-top: 150px;
}


